{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

{#    {% for row in grid %}#}
{#        <div style="display:flex;justify-content:centre;">#}
{#            {% for item in row %}#}
{#                <div style="width:40px; height:40px; border: #222222 2px solid;display:flex;justify-content:centre;align-items: center">#}
{#                    {% if item != 0 %}#}
{#                        <p style="margin-left: auto;margin-right: auto;">{{ item }}</p>#}
{#                    {% else %}#}
{#                        <p style="margin-left: auto;margin-right: auto;"></p>#}
{#                    {% endif %}#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    {% endfor %}#}

    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/mnt/d/workPlan/aliptic/sudoku_kai_chi/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/mnt/d/workPlan/aliptic/sudoku_kai_chi/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
