{% extends 'base.html.twig' %}

{% block title %}Classement
{% endblock %}

{% block body %}

	<div class="container pt-5">
		<h1 class="mb-4 fs_225">Classement</h1>

		<table class="table table-bordered">
			<thead class="thead-light">
				<tr>
					<th>Place</th>
					<th>Nom</th>
					<th>Score</th>
				</tr>
			</thead>
			<tbody>
				{% set place = 0 %}
				{% for user in ranking %}
					{% set place = place + 1 %}
					<tr>
						<td>N°{{ place }}</td>
						<td>{{ user.username }}</td>
						<td>{{ user.score }} points</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="bas-div">
			<p>
				Sudoku Kai Chi</p>
		</div>

	</div>
{% endblock %}
