<footer class="page-footer font-small bg-light py-3 fixed-bottom">

  <div class="container-fluid text-center text-md-left">

    <div class="row">

      <div class="col-md-4 mt-md-0 mt-3">

       <a class="card-link" href="{{ path('home')}}">Home <span class="sr-only">(current)</span></a>

      </div>


      <div class="col-md-4 mb-md-0 mb-3">

         <div class="footer-copyright">© 2020 Tout droit réservé
  		</div>

      </div>

      <div class="col-md-4 mb-md-0 mb-3">

        <a class="card-link" href="{{ path('legales_mentions')}}">Mention légales <span class="sr-only">(current)</span></a>

      </div>

    </div>

  </div>

</footer>
