{% extends 'base.html.twig' %}

{% block body%}
	<div class="container pt-5">
		<h1 class="mb-4 fs_225">Règles du jeu</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non fermentum est. Ut ac viverra sapien. Vestibulum non pretium nunc, vitae mattis mi. Donec nulla ante, ultrices molestie purus euismod, porttitor condimentum mi. Sed ex magna, rhoncus a metus quis, efficitur hendrerit lorem. Vivamus a bibendum odio. Maecenas est mauris, congue ac sodales in, convallis at purus. Nunc vitae tortor semper dui pulvinar bibendum. Sed a nibh vitae nibh commodo rhoncus. Fusce luctus lacus quis diam ullamcorper malesuada.</p>
		<div class="bas-div">
			<p>
				Sudoku Kai Chai</p>
		</div>
	</div>
{% endblock %}
