{% extends 'base.html.twig' %}

{% block body%}
	<div class="container mt-5 mb-5 pt-5 pl-5 pr-5 pb-5">
	    <div class="section-content pt-5 pl-5 pr-5">
			<h1 class="mb-4 fs_225">Description du groupe</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eros lectus, semper id nulla et, pellentesque vestibulum eros. Donec varius accumsan orci, nec varius diam. Integer dictum vulputate tortor, nec volutpat risus faucibus quis. Aliquam volutpat diam at odio feugiat, ac placerat lectus imperdiet. Integer quis sem suscipit arcu finibus laoreet. Integer vitae ex quis odio interdum tempor nec sed odio. Donec consectetur nunc dictum accumsan pretium.</p>
			<p>Maecenas metus felis, tempus et pharetra lacinia, congue in sapien. Mauris sed feugiat nulla. Fusce maximus, elit in luctus pretium, tortor sapien consectetur nunc, eget eleifend dui elit eu ex. Quisque a fringilla enim. Nam condimentum augue id dolor ornare, et rutrum purus bibendum. Nulla nec tellus sed urna sodales egestas ut convallis velit. Nullam rutrum nec ante vitae vestibulum. Phasellus id purus sit amet ipsum blandit mollis a vel tellus. Sed est odio, imperdiet rhoncus velit sit amet, faucibus vehicula massa. Aliquam tempus ipsum elit, eu viverra odio tristique nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent sem mauris, auctor vel tristique quis, dignissim eu urna. Duis tortor justo, sodales ac metus sed, tristique tempor urna. Phasellus sed lobortis mi, ac vestibulum tortor. Curabitur sem mauris, sodales ullamcorper commodo eu, tempor non elit.</p>
			<div class="bas-div">
				<p>
					Sudoku Kai Chi</p>
			</div>
		</div>
	</div>
{% endblock %}
