body {
    background-color: #ffffff;
    margin:0;
   padding: 0;
 }

.flash-message {
    text-align: center;
}
/* style grid_form */
input[type="number"]{
    overflow: visible;
    width: 56px;
    height: 58px;
    padding-left: 22px !important;
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"]:read-only{
    font-weight: bold;
    background-color: #FFFFFF;
}
table .form-group {
    margin-bottom: 0px;
}
form .grid td:nth-child(4) .form-control,
form .grid td:nth-child(7) .form-control{
    border-left: 4px solid #ced4da;
}
form .grid tr:nth-child(4) td .form-control,
form .grid tr:nth-child(7) td .form-control{
    border-top: 4px solid #ced4da;
}

/* style grids_show */
.grids .row_of_grids:nth-child(1) .cells_of_grids:nth-child(1){
    border-top-left-radius: .25rem;
}
.grids .row_of_grids:nth-child(1) .cells_of_grids:nth-child(9){
    border-top-right-radius: .25rem;
}
.grids .row_of_grids:nth-child(9) .cells_of_grids:nth-child(1){
    border-bottom-left-radius: .25rem;
}
.grids .row_of_grids:nth-child(9) .cells_of_grids:nth-child(9){
    border-bottom-right-radius: .25rem;
}
.grids .row_of_grids .cells_of_grids{
    border-bottom: 2px solid  #000;
    border-right: 2px solid  #000;
    width: 30px;
    height: 30px;
    text-align:center;
    font-weight: bold;
    background-color: #fff;
}
.grids .row_of_grids .cells_of_grids:nth-child(1),
.grids .row_of_grids .cells_of_grids:nth-child(4),
.grids .row_of_grids .cells_of_grids:nth-child(7) {
    border-left: 2px solid  #000;
  }
.grids .row_of_grids:nth-child(1) .cells_of_grids,
.grids .row_of_grids:nth-child(4) .cells_of_grids,
.grids .row_of_grids:nth-child(7) .cells_of_grids{
    border-top: 2px solid  #000;
}
.grids button{
    margin-top: 2em;
}

div.col-6 h2{
    padding-bottom: 20px;
    text-align: center;
    margin:auto;
}
div.col-6.white h2{
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
}
div.flex-column{
    display: flex;
    margin-bottom: 20px;
    margin-top: 20%;
}

div.row.py-3, div.col-6{
    text-align: justify;
}
div.row.py-3{
    margin-right: 60px;
    flex: 3;
}
div.row.py-3 p{
    font-size: 0.8em;
}
.home-sections{
    flex: 1.2;
    position: relative;
    border-radius: 2px;
    padding: 10px;
    font-size: 0.9em;
    margin-left:100px;
    margin-top:100px;
} 
#home-left-section{
    box-shadow: none;
    background-color: white;
    color: #373737;
}
#home-left-section h1{
    color: #373737;
    margin-bottom: 0px!important;
    font-weight: 700;
}
#home-rigth-section {
    color: white;
}
#home-rigth-section #home-register{
    padding: 1em 2em;
    background-color: #34A1B9;
    border-radius: .15rem;
    box-shadow: 0px 2px 5px rgb(28 26 25 / 10%);
}
#home-rigth-section td{
    color:#fff;
    text-align: center;
}
#home-register h2{
   /* padding-top: .5em;*/
}
#home-register label{
    display:none !important;
}
#home-register input{
    border-color: #fff !important;
}
#home-register .form-check{
    border: none !important;
}
#home-register .form-group{
    margin-top: 2em;
} 
#home-register #registration_form .form-check-label{
    display: block !important;
}
#home-register, #home-ranking{
    width:80%;
    margin-left:10%;
}
#home-register .form-check-label{
    margin-left: 1em;
}
button.btn-primary{
    background-color: #373737;
    border-color:#373737;
}
/* div.col-6.white h1.mb-4.fs_225 {
    color: black;
    
} */

a.btn-primary, input.btn.btn-lg.btn-primary, button.btn.btn-lg.btn-primary{
    background-color: #34A1B9;
    border-color:#34A1B9;
}
.justify-content-between a.btn-primary{
    padding: 0.5rem;
}

div.form-check{
    padding-left:30%;
}
button{
    margin:10px;
}
.justify-content-between .btn{
    margin-right: 15px;
}
.justify-content-between .btn:last-child{
    margin-right:0;
}
div.container.pt-5{
    margin-top: 30px; 
    background-color: #c9e9f0;
}
h1.mb-4.fs_225{
    color:#34A1B9;
    margin-bottom: 30px!important;
}
div.bas-div {
    text-align: right;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
}
.btn-outline-secondary{
    color:#34A1B9;
    border:2px solid #34A1B9;
}
/* .form-control{
    border: 1px solid #000000;
} */
table{
  border-spacing:  1px;  
}
.bg-light{
    background-color:#34A1B9!important;
}

a, div.footer-copyright, .navbar-light .navbar-brand, ul.navbar-nav li.nav-item a.nav-link , .navbar-light .navbar-nav .nav-link.disabled { 
    color:#ffffff;
}
.table-bordered .thead-light th, .table-bordered td{
    border:2px solid #ffffff;   
}
.navbar-light .navbar-nav .nav-link{
    margin-left:20px;
}
.navbar-brand{
    font-weight: bold;
}
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: #fff;
}



/*login_page*/


