/*body {
    background-color: #ffffff;
}*/
.flash-message {
    text-align: center;
}
/* style grid_form */
input[type="number"]{
    overflow: visible;
    width: 56px;
    height: 58px;
    padding-left: 22px !important;
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"]:read-only{
    font-weight: bold;
    background-color: #FFFFFF;
}
table .form-group {
    margin-bottom: 0px;
}
form .grid td:nth-child(4) .form-control,
form .grid td:nth-child(7) .form-control{
    border-left: 4px solid #ced4da;
}
form .grid tr:nth-child(4) td .form-control,
form .grid tr:nth-child(7) td .form-control{
    border-top: 4px solid #ced4da;
}

/* style grids_show */
.grids .row_of_grids:nth-child(1) .cells_of_grids:nth-child(1){
    border-top-left-radius: .25rem;
}
.grids .row_of_grids:nth-child(1) .cells_of_grids:nth-child(9){
    border-top-right-radius: .25rem;
}
.grids .row_of_grids:nth-child(9) .cells_of_grids:nth-child(1){
    border-bottom-left-radius: .25rem;
}
.grids .row_of_grids:nth-child(9) .cells_of_grids:nth-child(9){
    border-bottom-right-radius: .25rem;
}
.grids .row_of_grids .cells_of_grids{
    border-bottom: 2px solid  #000;
    border-right: 2px solid  #000;
    width: 30px;
    height: 30px;
    text-align:center;
    font-weight: bold;
    background-color: #fff;
}
.grids .row_of_grids .cells_of_grids:nth-child(1),
.grids .row_of_grids .cells_of_grids:nth-child(4),
.grids .row_of_grids .cells_of_grids:nth-child(7) {
    border-left: 2px solid  #000;
  }
.grids .row_of_grids:nth-child(1) .cells_of_grids,
.grids .row_of_grids:nth-child(4) .cells_of_grids,
.grids .row_of_grids:nth-child(7) .cells_of_grids{
    border-top: 2px solid  #000;
}
.grids button{
    margin-top: 2em;
}



body {
    background-color: #ffffff!important;
}
div.aside h2{
    padding-bottom: 20px;
    text-align: center;
    margin:auto;
}
div.section
{
    display: flex;
    margin-bottom: 20px;
    margin-top: 20%;
}

div.article, div.aside
{
    text-align: justify;
}

div.article
{
    margin-right: 60px;
    flex: 3;
}
div.article p
{
    font-size: 0.8em;
}

div.aside
{
    flex: 1.2;
    position: relative;
    background-color: #34A1B9;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
    margin-left:100px;
}
a.btn-primary, input.btn.btn-lg.btn-primary, button.btn.btn-lg.btn-primary{
    background-color: #34A1B9;
    border-color:#34A1B9;
}
button.btn-primary{
    background-color: #373737;
    border-color:#373737;
}
div.form-check{
    padding-left:30%;
}
button{
    margin:10px;
}
div.container.pt-5{
    margin-top: 30px; 
    background-color: #c9e9f0;
}
h1.mb-4.fs_225{
    color:#34A1B9;
    margin-bottom: 30px!important;
}
div.bas-div {
    text-align: right;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
}
.btn-outline-secondary{
    color:#34A1B9;
    border:2px solid #34A1B9;
}
.form-control{
    border: 1px solid #000000;
    border-radius: .3rem;
}
table{
  border-spacing:  1px;  
}
.bg-light{
    background-color:#34A1B9!important;
}
a, div.footer-copyright, .navbar-light .navbar-brand,ul.navbar-nav li.nav-item a.nav-link { 
    color:#ffffff;
} 