body {
    background-color: #ffffff;
    margin:0;
   padding: 0;
 }





/*FLASH_MESSAGE*/
.flash-message {
    text-align: center;
}




/*NAVBAR*/
.navbar a{
    color: white;
}
.navbar .nav-item:hover a{
    font-weight: 500;
}
.navbar .navbar-brand{
    font-weight: 700;
}
.navbar .navbar-toggler-icon{
    color:#fff;
}
.content-nav{
    width: 100%;
}
.navbar-toggler {
    background-color: transparent;
    border: 2px solid #fff;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: .15em;
    vertical-align: middle;
    content: "";
    background: 50% / 70% 50% #fff;
    border-radius: .25em;
    margin-top: 0.2em;
}
.navbar-toggler-icon:last-child {
    margin-bottom: 0.2em;
}




/*FOOTER*/
.page-footer a, .footer-copyright {
    color: white;
}
@media screen and (min-height: 800px) {
    footer{
        position:absolute;
        bottom:0;
        width: 100%;

    }
}





/*RANKING_PAGE*/
#ranking_page .table .thead-light th {
    background-color: #fff;
    border-color: #fff;
}
#ranking_page td{
    color: #fff;
}
@media screen and (min-width: 768px) and (max-width: 1920px) {
    #ranking_page{
        height: calc(100vh - 13em);
    }
}




/*GRID_FORM*/
input[type="number"]{
    overflow: visible;
    width: 56px;
    height: 58px;
    padding-left: 22px !important;
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"]:read-only{
    font-weight: bold;
    background-color: #FFFFFF;
}
table .form-group {
    margin-bottom: 0px;
}
form .grid tr:first-child td:first-child{
    border-top-left-radius: .3em;
}
form .grid tr:first-child td:last-child{
    border-top-right-radius: .3em;
}
form .grid tbody tr:last-child td:first-child{
    border-bottom-left-radius: .3em;
}
form .grid tbody tr:last-child td:last-child{
    border-bottom-right-radius: .3em;
}
form .grid td:nth-child(4) ,
form .grid td:nth-child(7) {
    border-left: 4px solid #495057;
}
form .grid tr:nth-child(4) td ,
form .grid tr:nth-child(7) td {
    border-top: 4px solid #495057;
}
form .grid td{
    border: 2px solid #495057;
    padding: 0px;
}
form .grid td .form-control {
    border: 0px solid #495057;
}
@media screen and (max-width: 780px) {
    input[type="number"]{
        overflow: visible;
        width: 42px;
        height: 43px;
        padding-left: 15px !important;
        -moz-appearance: textfield;
    }
}




/*PAGES*/
.section-content{
    background-color: rgb(52, 161, 185) ;
    color:white;
    border-radius: .25em;
}
.section-content .bas-div {
    height: 75px;
    position: relative ;
}
.section-content .bas-div p{
    position: absolute;
    bottom:-28px;
    right: 10px;
    padding-top: 2em;
    font-size: 2em;
    font-weight: 700;
}




/*HOME_PAGE*/
#home-left-section{
    color : #373733;
}
#home-left-section h1{
    font-weight: 700;
    margin-bottom: 0;
}
.container-home-rigth-section{
    padding: 0% 20%;
}
#home-rigth-section h2{
    color:white !important;
}
#home-ranking, #home-register{
    padding: 1em 1em;
    background-color: rgb(52, 161, 185) ;
    border-radius: .2rem;
}
#home-register .form-group{
    width: 80%;
    margin-left: 10%;
}
#home-register .form-group label{
    display: none !important;
    color:white !important;
}
#home-register #registration_form .form-group{
    margin-top: 2em;
}
#home-register #registration_form .form-check-label{
    display: block !important;
}
#home-ranking tr td:last-child{
    border-left: 1px solid rgba(255, 255, 255, 25%);
}
#home-ranking tr td{
    width:50%;
    color:white;
}
@media screen and (min-width: 991px) and (max-width: 1920px) {
    #home{
        height: calc(100vh - 10em);
    }
}
@media screen and (max-width: 1000px) {
    .btn-lg{
        font-size: 1rem;
    }
}




/*LOGIN_PAGE*/
.section-login-form form{
    padding : 0px 30%;
}
.section-login-form form label{
    display:none;
}
.section-login-form form input, .section-login-form form button{
    margin-top:3em;
    width: 80%;
    margin-left: 10%;
}
.section-login-form form h1{
    color:rgb(52, 161, 185);
    font-weight: 700;
}
.section-login-form form .content-input{
    border:3px solid rgba(52, 161, 185, 55%);
    border-radius: .3em;
}
@media screen and (min-width: 781px) and (max-width: 990px) {
    .section-login-form form{
        padding : 0px 25%;
    }
}
@media screen and (max-width: 780px) {
    .section-login-form form{
        padding : 0px 0%;
    }
}




/*GRIDS_PAGES*/
.grids .row_of_grids:nth-child(1) .cells_of_grids:nth-child(1){
    border-top-left-radius: .25rem;
}
.grids .row_of_grids:nth-child(1) .cells_of_grids:nth-child(9){
    border-top-right-radius: .25rem;
}
.grids .row_of_grids:nth-child(9) .cells_of_grids:nth-child(1){
    border-bottom-left-radius: .25rem;
}
.grids .row_of_grids:nth-child(9) .cells_of_grids:nth-child(9){
    border-bottom-right-radius: .25rem;
}
.grids .row_of_grids .cells_of_grids{
    border-bottom: 2px solid  #000;
    border-right: 2px solid  #000;
    width: 30px;
    height: 30px;
    text-align:center;
    font-weight: bold;
    background-color: #fff;
}
.grids .row_of_grids .cells_of_grids:nth-child(1),
.grids .row_of_grids .cells_of_grids:nth-child(4),
.grids .row_of_grids .cells_of_grids:nth-child(7) {
    border-left: 2px solid  #000;
  }
.grids .row_of_grids:nth-child(1) .cells_of_grids,
.grids .row_of_grids:nth-child(4) .cells_of_grids,
.grids .row_of_grids:nth-child(7) .cells_of_grids{
    border-top: 2px solid  #000;
}
@media screen and (max-width: 990px) {
    #grids-container{
        flex-direction: column;
    }
}



/*MENTIONS_PAGE*/
@media screen and (min-width: 0px) and (max-width: 1920px) {
    footer{
       position: relative;
    }
}




/*DESCRIPTION_PAGE*/
@media screen and (min-width: 991px) and (max-width: 1920px) {
    #description_page{
        height: calc(100vh - 13em);
    }
}




/*RULES_PAGE*/
@media screen and (min-width: 767px) and (max-width: 1920px) {
    #rules_page{
        height: calc(100vh - 13em);
    }
}