<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>

	<body>
		<div class="clearfix pb-5">
			{% include 'partials/header.html.twig' %}

			<div class="min_heigth container">
				{% block body %}{% endblock %}
			</div>

			{% include 'partials/footer.html.twig' %}
		</div>

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>

</html>